span.css-10trblm.e1nzilvr0 {
    background-color: #f8f9fb;
    color: #100530;
    border: 3px solid #ecebee;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
    text-align: justify;
}

div.css-1om1ktf.ezh4s2r0 {
    border: 2px solid #ff3300;
    border-radius: 10px;
    font-size: 14pt;
}

/* alerta de carregamento de arquivo*/
div.stAlert {
    background-color: rgb(244, 236, 205);
    font-size: 12pt;
    color: #0c0b09;  
    border: 2px solid #552fa1;
    border-radius: 10px;
}

p {
    font-size: 14pt;  
}

h2{
    color: #052f12;
}

textarea{
    font-size: 14pt;
}

div.st-emotion-cache-1ghhuty {
    background-color: rgb(241, 218, 125);
}

/*cor alerta usuário*/
div.st-emotion-cache-1c7y2kd{
    background-color: rgba(244, 236, 205, 0.842);
}

/*robô*/
div.st-emotion-cache-bho8sy{
    background-color: rgb(5, 50, 169);
}

/*cor alerta robô*/
div.stChatMessage.st-emotion-cache-4oy321.eeusbqq4 {
    background-color: rgb(230, 240, 250);
}

button.st-emotion-cache-1rci6ej.ef3psqc13{
    background-color: rgb(244, 236, 205);
    border: 1px solid rgb(55, 75, 75);
}